.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 200px;
  position: relative;
}

.passwordField,
.passwordLabel,
.passwordField::placeholder {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.passwordField {
  height: 48px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 14px 20px;
}

.passwordLabel {
  padding-left: 10px;
  align-self: flex-start;
}

.passwordField::placeholder {
  opacity: 0.2;
}

.eyesBlockIcon {
  position: absolute;
  right: 15px;
  top: 32px;
}
