.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  z-index: 99999;
}

.loginField,
.loginLabel,
.loginField::placeholder {
  font-size: 1.97vh;
  line-height: 2.72vh;
  letter-spacing: 0.03rem;
}

.loginField {
  height: 6.15vh;
  border: 1px solid transparent;
  border-radius: 0.63rem;
  padding: 1.73vh 2.46vh;
}

.loginLabel {
  padding-left: 0.63rem;
  align-self: flex-start;
}

.loginField::placeholder {
  opacity: 0.2;
}

.loginUniqueIcon {
  position: absolute;
  top: 4.8vh;
  right: 1.44rem;
}