.authForm {
  margin-bottom: 1.97vh;
}

.goTo {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 99999;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
