.container {
  position: relative;
  width: 100%;
}

.logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  margin-bottom: 124px;
  z-index: 10;
}

.trippleCirclesDecoration {
  position: absolute;
  right: -4px;
  top: 45px;
  z-index: 0;
}

.form {
  margin: 0 auto;
  width: 100%;
}

.bigCircleDecoration {
  position: absolute;
  width: 100%;
  bottom: -3px;
  left: 0;
  z-index: 0;
  overflow: hidden;
}
