.backgroundColor {
  background-color: #def7fe;
  margin: 0 auto;
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  text-align: center;
  position: relative;
}
